{% extends "base.html" %}

{% block content %} 
<div class="form-reg">
    <h1 class="text-auto">Регистрация</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            Регистрация
        </button>
    </form>
    <script>
        document.querySelector('#id_username').addEventListener('blur', async (event) => {
            const res = await fetch(`/validate_username?username=${event.target.value}`).then(res => res.json());
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (res.is_taken) {
                errors.innerHTML = '<li>Пользователь с таким именем уже есть</li>';
            }

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Логин не может быть пустым</li>';
            }

            const re = new RegExp("^[a-zA-Z0-9-]+$");
            if (!re.test(event.target.value)) {
                errors.innerHTML += '<li>Разрешены только латиница, цифры или тире</li>';
            }

            event.target.parentElement.append(errors);
        })
        document.querySelector('#id_email').addEventListener('blur', async (event) => {
            const res = await fetch(`/validate_email?email=${event.target.value}`).then(res => res.json());
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (res.is_taken) {
                errors.innerHTML = '<li>Такой E-mail уже есть</li>';
            }

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>E-mail не может быть пустым</li>';
            }

            if (!event.target.value.includes("@")) {
                errors.innerHTML += '<li>В строке отсутсвует @</li>';
            }

            event.target.parentElement.append(errors);
        })

        document.querySelector('#id_surname').addEventListener('blur', async (event) => {
            const res = await fetch(`/validate_surname?surname=${event.target.value}`).then(res => res.json());
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (res.is_taken) {
                errors.innerHTML = '<li>Пользователь с такой фамилией уже есть</li>';
            }

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Фамилия не может быть пустой</li>';
            }

            const re = new RegExp("^[а-яА-Я- ]+$");
            if (!re.test(event.target.value) && (event.target.value.length > 0)) {
                errors.innerHTML += '<li>Разрешены только кирилица, пробел или тире</li>';
            }

            event.target.parentElement.append(errors);
        })

        document.querySelector('#id_name').addEventListener('blur', async (event) => {
            const res = await fetch(`/validate_name?name=${event.target.value}`).then(res => res.json());
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (res.is_taken) {
                errors.innerHTML = '<li>Пользователь с таким именем уже есть</li>';
            }

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Имя не может быть пустым</li>';
            }

            const re = new RegExp("^[а-яА-Я- ]+$");
            if (!re.test(event.target.value) && (event.target.value.length > 0)) {
                errors.innerHTML += '<li>Разрешены только кирилица, пробел или тире</li>';
            }

            event.target.parentElement.append(errors);
        })

        document.querySelector('#id_patronymic').addEventListener('blur', async (event) => {
            const res = await fetch(`/validate_patronymic?patronymic=${event.target.value}`).then(res => res.json());
            event.target.parentElement.querySelector('.errorList')?.remove();
            const errors = document.createElement('ul');
            errors.classList.add('errorList');

            if (res.is_taken) {
                errors.innerHTML = '<li>Пользователь с таким отчеством уже есть</li>';
            }

            if (event.target.value.length === 0) {
                errors.innerHTML += '<li>Отчество не может быть пустым</li>';
            }

            const re = new RegExp("^[а-яА-Я- ]+$");
            if (!re.test(event.target.value) && (event.target.value.length > 0)) {
                errors.innerHTML += '<li>Разрешены только кирилица, пробел или тире</li>';
            }

            event.target.parentElement.append(errors);
        })
    </script>
</div>

{% endblock %}
