{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>О нас</h1>
    <div>
        <h3>Кто мы?</h3>
        <p class="text"><img src="/files/logo.jpeg" alt="" class="rightimg">Магазины «BookLine»
            представлены широким ассортиментом
            книжной продукции.</p>
        <p style="font-size: 22px;">
            «BookLine» является ведущим игроком на рынке учебной литературы
            в республике Чувашия, мы предлагаем самый большой выбор книг
            учебной тематики, а развитая бонусная система скидок дарит
            возможность приобретения книг по низким ценам.
        </p>
        <p style="font-size: 22px;">
            Миссия:
            Мы стремимся развивать и поддерживать интерес к чтению среди молодежи и взрослых. Мы верим, что книги могут
            стать проводниками в мир знаний и идей, а также источником вдохновения и мотивации. Наши книги помогают
            людям лучше понимать мир вокруг и самих себя.</p>
    </div>
</div>
{% endblock %}