{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Корзина</h1>

    {% if cart_items %}
        <div class="spisoc">
            <ul>
                {% for item in cart_items %}
                    <li>
                        <img src="/files/{{ item.product.photo_file }}" alt="{{ item.photo_file }}" class="img-thumbnail">
                        {{ item.product.name }} - <span>{{ item.count }}</span>
                        <button onclick="toCart(this,{{ item.product.pk }})">+</button>
                        <button onclick="MinusCart(this,{{ item.product.pk }})">-</button>
                    </li>

                {% endfor %}
            </ul>
        </div>
        <div>
            <input type="password" value="" name="password" placeholder="Введите ваш пароль">
            <button id="by_order">Сформировать заказ</button>
        </div>
    {% else %}
        <p>Корзина пуста</p>
    {% endif %}
    <script>
        document.querySelector('#by_order').addEventListener('click', async (event) => {
            const password = document.querySelector('input').value;
            const res = await fetch(`/checkout?password=${password}`).then(res => res.json());
            if (res.error) {
                const message = document.createElement('div');
                message.innerHTML = res.error;
                event.target.parentElement.prepend(message);
                setTimeout(() => message.remove(), 1000);
            } else {
                location.href = '/orders';
            }
        })

        toCart = async (target, pk) => {
            const res = await fetch(`/to_cart/${pk}`).then(res => res.json());
            const message = document.createElement('li');
            if (res.count) {
                let count = +target.parentElement.querySelector('span').innerHTML;
                target.parentElement.querySelector('span').innerHTML = count + 1;
            } else {
                message.innerHTML = 'Больше нельзя добавить';
            }
            if (message.textContent !== '') {
                target.parentElement.append(message);
                setTimeout(() => message.remove(), 1000);
            }
        }

        MinusCart = async  (target, pk) => {
            const res = await fetch(`/minus_cart/${pk}`).then(res => res.json());
            if (res.count) {
                let count = +target.parentElement.querySelector('span').innerHTML;
                target.parentElement.querySelector('span').innerHTML = count - 1;
            } else {
                target.parentElement.remove();
            }
        }
    </script>
</div>
{% endblock %}