{% extends "base.html" %}
{% block content %}
<div class="container">
    <div>
        <h1>Контакты</h1>
        <p>Книжный интернет-магазин «BookLine»
            115419, Чебоксары, ул. Декабристов, дом 17.
        </p>
        <p>
            Электронная почта:chpk-nik@rchuv.ru
        </p>
        <p>График работы :
            ПН-ВС, 9:00-18:00.
        </p>
        <p>
            Подробнее: chpk-nik@rchuv.ru
        </p>
    </div>
    <div>
        <img src="/files/carta.png" class="my-contact">
    </div>
</div>
{% endblock %}