{% extends "base.html" %}
{% block content %}
<div class="container" style="width:100%;">
    <div style="position:relative;overflow:hidden;"><a
            href="https://yandex.ru/maps/45/cheboksary/?utm_medium=mapframe&utm_source=maps"
            style="color:#eee;font-size:12px;position:absolute;top:0px;">Чебоксары</a><a
            href="https://yandex.ru/maps/45/cheboksary/?ll=47.247731%2C56.139920&utm_medium=mapframe&utm_source=maps&z=12"
            style="color:#eee;font-size:12px;position:absolute;top:14px;">Чебоксары — Яндекс Карты</a><iframe
            src="https://yandex.ru/map-widget/v1/?ll=47.247731%2C56.139920&z=12" width="560" height="400"
            frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
</div>
{% endblock %}