{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Оплата</h1>
    <h4><b>Способы оплаты заказов в интернет-магазине book24.ru</b><br></h4>
    <p style="font-size: 20px;">
        Выберите удобный способ оплаты заказов в book24.ru -<br>
        официальном интернет-магазине издательской группы ЭКСМО-АСТ.<br>
    </p>
    <p style="font-size: 20px;"> ✔ Низкие цены<br>
        ✔ Гарантия качества<br>
        ✔ Персональные скидки<br>
        ☎ 8 (800) 555-35-35
    </p>
    <h4>Банковской картой</h4>
    <p style="font-size: 25px;">Вы можете оплатить заказ на сайте банковскими картами МИР, Visa, MasterCard, а также посредством Yandex Pay.</p>
    <p class="oplata-text">Оплачивать заказы на book24.ru c помощью банковских карт безопасно. Мы не получаем данные ваших платежных карт,
        вы напрямую передаете их в платежную систему по защищенному протоколу передачи данных. При оплате с помощью
        банковских карт также используются дополнительные одноразовые SMS-коды, направляемые на ваш мобильный телефон.
    </p>
    <h4>Наличными при получении</h4>
    <p class="oplata-text">Вы можете оплатить заказ наличными при получении в пунктах выдачи или при доставке курьером на дом.<br>
        Данный тип оплаты обычно доступен для всех служб доставки по России, но в некоторых случаях могут быть исключения.
    </p>
</div>

{% endblock %}